<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<aside th:fragment="sidebar(activo)" class="vp-sidebar">
    <h3>Accesos rápidos</h3>

    <a th:href="@{/productos}" class="vp-sidebar-link" th:classappend="${activo == 'productos'} ? 'active'">Productos</a>
    <a th:href="@{/categorias}" class="vp-sidebar-link" th:classappend="${activo == 'categorias'} ? 'active'">Categorías</a>
    <a th:href="@{/proveedores}" class="vp-sidebar-link" th:classappend="${activo == 'proveedores'} ? 'active'">Proveedores</a>
    <a th:href="@{/clientes}" class="vp-sidebar-link" th:classappend="${activo == 'clientes'} ? 'active'">Clientes</a>


</aside>

</body>
</html>
